* {
  font-style: normal !important;
}

.slide-content {
  width: auto;
  height: auto;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  opacity: .8;
  border-left: 3px solid;
  padding-left: 1em;
}

.controls {
  display: none;
}
